<div class="panel-header panel-header-sm"></div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Usuários </h4>
                    <button class="btn btn-primary btn-round" routerLink="/usuario/criar">Adicionar</button>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Email
                                </th>
                                <th class="text-right">
                                    Função
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Teste
                                    </td>
                                    <td>
                                        teste@gmail.com
                                    </td>
                                    <td class="text-right">
                                        Adminstrator
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
