<div class="panel-header panel-header-sm"></div>

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Adicionar ASO</h5>
                    <button class="btn btn-primary btn-simple btn-round" type="button"> Cancelar </button>
                </div>
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-3 pr-md-1">
                                <div class="form-group"
                                [ngClass]="
                                    form.controls.cnpj?.errors?.required ||
                                    form.controls.cnpj?.errors?.minlength ||
                                    form.controls.cnpj?.errors?.maxlength &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label> CNPJ </label>
                                    <input type="text" class="form-control" placeholder="somente números" maxlength="14" minlength="14" formControlName="cnpj">
                                </div>
                            </div>
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label> Razão Social </label>
                                    <input type="text" class="form-control" placeholder="" formControlName="razaoSocial">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"
                                [ngClass]="
                                    form.controls.setor?.errors?.maxlength &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label> Setor </label>
                                    <input type="text" class="form-control" placeholder="" maxLength="30" formControlName="setor">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 pr-md-1">
                                <div class="form-group"
                                    [ngClass]="
                                    form.controls.nome?.errors?.required ||
                                    form.controls.nome?.errors?.maxlength &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label> Nome </label>
                                    <input type="text" class="form-control" placeholder="" maxlength="50" formControlName="nome">
                                </div>
                            </div>
                            <div class="col-md-3 pr-md-1">
                                <div class="form-group"
                                    [ngClass]="
                                    form.controls.cpf?.errors?.required ||
                                    form.controls.cpf?.errors?.minlength ||
                                    form.controls.cpf?.errors?.maxlength &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label> CPF </label>
                                    <input type="text" class="form-control" formControlName="cpf" placeholder="somente números" maxlength="11" minlength="11">
                                </div>
                            </div>
                            <div class="col-md-3 pr-md-1">
                                <div class="datepicker-container">
                                    <div class="form-group"
                                    [ngClass]="
                                    form.controls.dataNascimento?.errors?.required &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                        <label> Data de Nascimento </label>
                                        <input
                                            class="form-control datetimepicker"
                                            placeholder=""
                                            name="dataNascimento"
                                            [(ngModel)]="modelDataNascimento"
                                            ngbDatepicker
                                            #d="ngbDatepicker"
                                            (click)="d.toggle()"
                                            data-color="orange"
                                            formControlName="dataNascimento"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"
                                    [ngClass]="
                                    form.controls.funcao?.errors?.required &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label> Função </label>
                                    <select class="form-control" placeholder="" formControlName="funcao">
                                        <option value="1"> A definir </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 pr-md-1">
                                <div class="form-group"
                                [ngClass]="
                                    form.controls.esocial?.errors?.maxlength &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label> Matrícula do E-Social </label>
                                    <input type="text" class="form-control" placeholder="somente números" maxlength="20" formControlName="esocial">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"
                                [ngClass]="
                                    form.controls.pis?.errors?.minlength ||
                                    form.controls.pis?.errors?.maxlength &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label for="email"> PIS </label>
                                    <input type="text" class="form-control form-control-success" placeholder="somente números" maxlength="11" minlength="11" formControlName="pis">
                                </div>
                            </div>

                            <div class="col-md-3 pr-md-1">
                                <div class="form-group"
                                    [ngClass]="
                                    form.controls.exame?.errors?.required &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label> Exame </label>
                                    <select class="form-control" placeholder="" (change)="alterarTipo($event)" [(ngModel)]="tipoExame" formControlName="exame">
                                        <option [value]="1"> Admissional </option>
                                        <option [value]="2"> Demissional </option>
                                        <option [value]="3"> Periódico </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 pr-md-1" *ngIf="tipoExame == 1 || tipoExame == 3">
                                <div class="datepicker-container">
                                    <div class="form-group"
                                        [ngClass]="
                                        form.controls.dataExame?.errors?.required &&
                                        form.dirty ? 'has-danger' : 'has-success'"
                                    >
                                        <label> Data Admissão </label>
                                        <input
                                            class="form-control datetimepicker"
                                            placeholder=""
                                            name="dataExame"
                                            [(ngModel)]="model"
                                            ngbDatepicker
                                            #d="ngbDatepicker"
                                            (click)="d.toggle()"
                                            data-color="orange"
                                            formControlName="dataExame"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pr-md-1" *ngIf="tipoExame == 2">
                                <div class="datepicker-container">
                                    <div class="form-group"
                                        [ngClass]="
                                        form.controls.dataExame?.errors?.required &&
                                        form.dirty ? 'has-danger' : 'has-success'"
                                    >
                                        <label> Data Demissão</label>
                                        <input
                                            class="form-control datetimepicker"
                                            placeholder=""
                                            name="dataExame"
                                            [(ngModel)]="modelDataExame"
                                            ngbDatepicker
                                            #d="ngbDatepicker"
                                            (click)="d.toggle()"
                                            data-color="orange"
                                            formControlName="dataExame"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-footer">
                    <button class="btn btn-primary btn-round" type="button" [disabled]="!form.valid"> Salvar </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modal_mini_cancel let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <div class="modal-profile">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </div>
    </div>
    <div class="modal-body">
        <p> Deseja realmente sair? Todos os dados não salvos, serão perdidos.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link btn-neutral"> Voltar </button>
        <button type="button" class="btn btn-link btn-neutral" (click)="c('Close click')"> Continuar </button>
    </div>
</ng-template>

<ng-template #modal_mini_confirm let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <div class="modal-profile">
            <i class="now-ui-icons ui-1_check"></i>
        </div>
    </div>
    <div class="modal-body">
        <p> Deseja realmente salvar? Está ação não poderá ser desfeita.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link btn-neutral" (click)="('Close click')" > Voltar </button>
        <button type="button" class="btn btn-link btn-neutral" (click)="c('Close click')"> Continuar </button>
    </div>
</ng-template>
<!--
    //CNPJ,
    //razao social,
    //nome,
    //funcao,
    //setor,
    //CPF,
    //Data nascimento,
    matricula do e-social,
    risco tipo - 1, 2, 3,
    tipo exame,
        IF - admissional -> data admissao,
        IF - demissional -> data demissao,
        IF - periodico ->   data admissao,
    PIS
-->
