<div class="panel-header panel-header-sm"></div>

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Adicionar Usuário</h5>
                    <button class="btn btn-primary btn-simple btn-round" type="button"> Cancelar </button>

                </div>

                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-4 pr-md-3">
                                <div class="form-group"
                                    [ngClass]="
                                    form.controls.nome?.errors?.required ||
                                    form.controls.nome?.errors?.maxlength &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label> Nome do responsável </label>
                                    <input type="text" class="form-control" placeholder="" formControlName="nome" maxlength="30">
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group"
                                [ngClass]="
                                    form.controls.tipo?.errors?.required &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label> Tipo </label>
                                    <select class="form-control" placeholder="" formControlName="tipo">
                                        <option [value]="1"> Administrador </option>
                                        <option [value]="2"> Clínica </option>
                                        <option [value]="3"> Cliente </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group"
                                    [ngClass]="
                                    form.controls.senha?.errors?.required ||
                                    form.controls.senha?.errors?.minlength ||
                                    form.controls.senha?.errors?.maxlength &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label> Senha </label>
                                    <input type="password" class="form-control" placeholder="Mínimo de 5 caracteres e maxímo de 15 caracteres" formControlName="senha" minlength="5" maxlength="15">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pl-md-3">
                                <div class="form-group"
                                    [ngClass]="
                                    form.controls.email?.errors?.required ||
                                    form.controls.email?.errors?.pattern ||
                                    form.controls.email?.errors?.maxlength &&
                                    form.dirty ? 'has-danger' : 'has-success'"
                                >
                                    <label for="email"> Email </label>
                                    <input type="email" class="form-control" placeholder="" formControlName="email" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-footer">
                    <button class="btn btn-primary btn-round" type="button" [disabled]="!form.valid"> Salvar </button>
                </div>
            </div>
        </div>
    </div>
</div>
