<div class="modal-header justify-content-center">
    <div class="modal-profile">
        <i class="now-ui-icons ui-1_simple-remove"></i>
    </div>
</div>
<div class="modal-body">
    <p> Deseja realmente sair? Todos os dados não salvos, serão perdidos.
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-round" (click)="activeModal.dismiss('Cross click')"> Voltar </button>
    <button type="button" class="btn btn-round" (click)="activeModal.close('Ok click')"> Continuar </button>
</div>


