<div class="page-header" filter-color="blue">
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <div class="header header-primary text-center">
                    <div class="logo-container"></div>
                </div>

                <div class="content">
                    <form [formGroup]="form">
                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Email"
                                (focus)="focus=true"
                                (blur)="focus=false"
                                formControlName="email"
                            >
                        </div>

                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons objects_key-25"></i>
                                </span>
                            </div>
                            <input
                                type="password"
                                placeholder="Senha"
                                class="form-control"
                                (focus)="focus1=true"
                                (blur)="focus1=false"
                                formControlName="senha"
                                autocomplete="on"
                            >
                        </div>
                    </form>
                </div>

                <div class="footer text-center">
                    <button
                        (click)="login()"
                        class="btn btn-primary btn-round btn-lg btn-block"
                    > Login </button>
                </div>
                <!--<div class="pull-left">
                    <h6>
                        <a href="#pablo" class="link"> Criar Conta </a>
                    </h6>
                </div>
                <div class="pull-right"></div>-->
            </div>
        </div>
    </div>
</div>

<app-alert
    tipo="danger"
    titulo="Ocorreu um erro ao fazer login!"
    mensagem="Verifique as credenciais e tente novamente."
    change="onAlert"
></app-alert>
