<div class="panel-header panel-header-sm"></div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Funcionários </h4>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    CNPJ
                                </th>
                                <th>
                                    Razão Social
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Função
                                </th>
                                <th>
                                    RISCO
                                </th>
                                <th class="text-right">
                                    Exame
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        12345678000110
                                    </td>
                                    <td>
                                        Teste Indústrias Ltda
                                    </td>
                                    <td>
                                        Teste
                                    </td>
                                    <td>
                                        Supervisor
                                    </td>
                                    <td>
                                        Não Definido
                                    </td>
                                    <td class="text-right">
                                        Admissional
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination" class="pagination-primary"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
