
<div class="logo">
    <a class="simple-text logo-normal">
        Medicina
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav flex-column" id="nav_accordion">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]" (click)="collapse.toggle()" [attr.aria-expanded]="!menuItem.idMenu">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{ menuItem.title }}</p>
            </a>
            <ul routerLinkActive="active" #collapse="ngbCollapse" [(ngbCollapse)]="menuItem.idMenu">
                <a [routerLink]="[menuItem.pathSubItem]" *ngIf="menuItem.pathSubItem != null">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    <p style="color: #fff;"> Adicionar novo </p>
                </a>
            </ul>
        </li>
    </ul>
</div>
